<% layout("layouts/boilerplate") %>
<div class="row bioexp py-4">
  <div class="col-8 offset-2">
    <h1 class="mb-5">Bio</h1>
    <p id="bioParagraph">
      Being in love with problem-solving his whole life, Evan got interested in
      software development in 2022. Wanting to learn how to create applications
      and begin a career, he taught himself through online recourses how to
      code. From watching course videos and scrolling on stack overflow, he
      further developed his skills. He turned his ambitions into reality at the
      start of 2024, beginning his role as a software engineering intern at
      QuikTrip and in partnership with Multiverse in 2024. In his spare time,
      Evan enjoys playing basketball, lifting weights, listening to audiobooks,
      playing videogames, and learning about history.
    </p>
  </div>
</div>

<div class="row bioexp py-4 mt-5">
  <div class="col-6 offset-2">
    <h4>Connect With Me!</h4>
  </div>
  <div class="col-4">
    <a href="https://www.linkedin.com/in/evan-martincek-606631209/"
      ><img id="linkedInLogo" src="linkedIn.png" alt="LinkedIn"
    /></a>
  </div>
</div>
