<% layout("layouts/boilerplate") %>
<div class="row bioexp py-4">
  <div class="col-10 offset-1">
    <h1 class="mb-5">Experience</h1>
    <section>
      <ul id="expList">
        <li>
          <img class="logo" src="amspools.jpg" /> Lifeguard | AMS Pools | March
          2018 - September 2018
        </li>
        <li>
          <img class="logo" src="qT.png" /> Clerk | QuikTrip | November | 2018 -
          January 2024
        </li>
        <li>
          <img class="logo" src="qT.png" /> Software Engineering Intern |
          QuikTrip | January 2024 - Present
        </li>
      </ul>
    </section>
  </div>
</div>
